* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-img.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: helvetica;
}

.bg-image-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.gif-file {
    margin: 0 6.5%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.3% 0 3% 0;
    padding: 0.6% 3%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.logo-img {
    width: 100%;
    margin-top: 5%;
}

.logo {
    width: 12%;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.searchicons {
    display: flex;
    justify-content: space-evenly;
    width: 27%;
}

.svg-div {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.menu:hover {
    color: orange;
}

.svg-div:hover {
    color: orange;
}

.svg1 {
    margin: 0 3px;
}

.svg2 {
    margin: 2px 5px;
}

.menu {
    font-size: 15px;
}

.searchicons ul {
    list-style: none;
    margin-top: 8px;
    padding: 0 5%;
}

.search-input {
    width: 230%;
    padding: 4% 4% 4% 22%;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px;
}

.search-div {
    position: absolute;
}

.search-icon {
    position: relative;
    top: 20%;
    left: 85%;
}

.search-button button {
    padding: 18%;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

.search-button {
    width: 10%;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: flex;
}

.dropdown-content a {
    margin-left: 20px;
}

.account-dropdown {
    background-color: white;
    line-height: 280%;
    width: 15%;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 1%;
}

.account:hover .account-dropdown {
    display: block;
    position: absolute;
}

.sign-in {
    border: 2px solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 5% 26%;
    border-radius: 5px;
}

.help-dropdown {
    background-color: white;
    display: none;
    line-height: 250%;
    width: 16%;
    border-radius: 5px;
    cursor: pointer;
}

.help:hover .help-dropdown {
    display: block;
    position: absolute;
}

.help-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 1%;
}

.live-chat {
    display: flex;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 5px;
    margin: 5% 0;
    padding: 0 10%;
    color: white;
    align-content: center;
    justify-content: space-evenly;
}

.live-chat a {
    color: white;
    font-weight: bold;
}

.live-chat svg {
    margin-top: 35%;
}

footer {
    margin-top: 15%;
}

.container1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(40, 40, 40);
    padding: 1.5% 3% 1.5% 7%;
}

.container1-logo {
    width: 30%;
}

.container1-logo img {
    width: 45%;
    margin-top: 2%;
}

.container1-newsletter {
    width: 55%;
}

.container1-newsletter h5 {
    margin-bottom: 2%;
    color: white;
}

.container1-newsletter p {
    margin-bottom: 3%;
    color: white;
    font-size: 13px;
}

.email-container {
    display: flex;
}

.email input {
    width: 130%;
    padding: 5% 5% 5% 20%;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(40, 40, 40, 0.3);
}

.email {
    margin-right: 13%;
}

.email-div {
    position: relative;
}

.email-icon {
    position: absolute;
    right: 67%;
    bottom: -17.7%;
    color: white;
    width: 1.5%;
}

.male-button button {
    padding: 25% 40%;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    background-color: rgba(40, 40, 40);
    cursor: pointer;
}

.male-button {
    width: 10%;
    margin-right: 5%;
}

.male-button button:hover {
    color: orange;
    border: 1px solid orange;
}

.female-button button {
    padding: 25% 40%;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    background-color: rgba(40, 40, 40);
    cursor: pointer;
}

.female-button button:hover {
    color: orange;
    border: 1px solid orange;
}

.female-button {
    width: 10%;
}

.container1-app {
    width: 30%;
}

.jumia-star {
    width: 10%;
    margin-right: 5%;
}

.jumia-star img {
    width: 100%;
    border-radius: 7px;
}

.jumia-star-container {
    display: flex;
}

.jumia-star-container h5 {
    margin-bottom: 3%;
    color: white;
}

.jumia-star-container p {
    color: white;
    font-size: 13px;
}

.app-div {
    display: flex;
}

.apple-store {
    margin: 2% 7% 0 3%;
    width: 30%;
}

.apple-store img {
    width: 115%;
    border-radius: 6px;
}

.apple-store:hover {
    margin-top: 0.3%;
    transition: 0.3s;
}

.google-playstore {
    width: 30%;
    margin-top: 1.8%;
}

.google-playstore img {
    width: 123%;
    border-radius: 8px;
}

.google-playstore:hover {
    margin-top: 0.3%;
    transition: 0.3s;
}

.container2 {
    background-color: rgb(50, 50, 50);
    padding: 2% 2% 5% 2%;
}

.container2-text {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.text a {
    color: rgba(157, 189, 180, 1);
}

.text p {
    margin: 5% 0 5% 0;
    font-size: 12px;
}

.text a:hover {
    text-decoration: underline;
}

.text h5 {
    padding: 5% 0;
}

.countries {
    display: flex;
    justify-content: space-between;
}

.container2-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}

.social-media h5 {
    color: white;
}

.payment-methods h5 {
    color: white;
}

.media-icons {
    display: flex;
    justify-content: space-around;
}

.media-icons svg {
    margin: 20px;
    color: white;
    cursor: pointer;
}

.media-icons svg:hover {
    color: orange;
}

.gif-container {
    padding-top: 5%;
    margin: 1% 6%;
    display: flex;
    justify-content: space-evenly;
}

.gif1 {
    color: black;
}

.gif1 svg {
    padding-right: 2%;
}

li {
    list-style: none;
}

.gif-container1 {
    width: 18%;
    height: 64vh;
    background-color: white;
    border-radius: 5px;
    padding: 0.5% 1%;
}

.tooltip1 {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 5.83vh;
}


/*
.tooltiptext1 {
    background-color: white;
    margin-left: 64%;
    width: 271%;
    height: 64vh;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.supermarket-div {
    display: flex;
}

.supermarket-div h5 {
    margin: 6px 0px;
}

.supermarket-div1 {
    margin-bottom: 15%;
}

.supermarket-divA {
    margin-right: 10%;
}

.supermarket-div3 {
    margin-bottom: 12%;
}

.supermarket-div ul {
    margin-top: 7%;
}

.supermarket-div li {
    margin: 5px 0px;
}
*/

.gif-container2 {
    width: 59%;
}

.gif-container2 img {
    width: 100%;
    height: 64vh;
    border-radius: 5px;
}

.gif-container3 {
    width: 18%;
    background-color: transparent;
}

.gif-container3a {
    width: 100%;
    height: 30vh;
    margin-bottom: 4%;
}

.gif-container3a img {
    width: 100%;
    height: 29vh;
    border-radius: 5px;
}

.gif-container3b {
    width: 100%;
    height: 35vh;
}

.gif-container3b img {
    width: 100%;
    height: 32vh;
    border-radius: 5px;
}

.pdt-container {
    display: flex;
    justify-content: space-around;
}

.pdt-container1 {
    height: 37vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    margin: 0 7%;
    padding: 1%;
    border-radius: 5px;
}

.pdt-container {
    width: 170%;
}

.pdt-container div:hover {
    transform: scale(1.03);
}

.pdt-container img {
    width: 95%;
}

.pdt-container p {
    text-align: center;
}